<div id="modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 id="modal-header" class="center-align"></h4>
        <h5 id="title_author" class="center-align"></h5>
        <h2 id="score" class="center-align"></h2>
        <img src="" id="modal-img" class="responsive-img center-align" />
        <p id="review" class="flow-text center-align"></p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>