<div class="row">
    <div class="col-md-12 text-center"><a href="/">Logo here</a></div>
</div>
<div class="row">
    <div class="col-md-12 text-right">
        <div class="text-left">
            Add a new review
        </div>
        <div class="text-right">
            Search: <input type="text" /><button class="ui button">Submit</button>
        </div>
    </div>
</div>