<nav>
    <div class="nav-wrapper">
        <input id="search" placeholder="Search" />
        <a class="btn clearo" style="position: relative; bottom: 95%; left: 92%; visibility: hidden">Clear</a>
    </div>
</nav>

<script>
    $("#search").on("change", function () {
        //console.log($("#search").val());
        //console.log($(".cat").attr("category"));
        $.ajax({
            url: `/search/${$('.cat').attr('category')}/${$('#search').val()}`,
            type: 'GET'
        }).done((resp) => {
            //console.log(resp);
            if (resp.length == 0) {
                $(".resulto").html("<h1 class='center-align' style='color:white'>No results found</h1>");
            }
            else {
                $(".resulto").empty();
                for (var i = 0; i < resp.length; i++) {
                    var divo = $(`<div class="col s4 m4 l4 cardz">`)
                    var card = $(`<div class="card modal-trigger" href="#modal">`)
                    var image = $(`<div class="center-align" style="max-height: 200px; overflow: hidden"><img src="${resp[i].img}" alt="poster or cover"></div>`);
                    var content = $(`<div class="card-content"><div class="header center-align" style="font-size: 1.5rem">${resp[i].headline}</div><div class="meta center-align">Review of ${resp[i].productName} by ${resp[i].User.name}</div><div class="description center-align">${resp[i].score} stars</div><div class="extra-content center-align"><span style="font-size: 0.8rem">Created on ${resp[i].createdAt}</span></div><p hidden>${resp[i].review}</p></div>`);

                    card.append(image);
                    card.append(content);
                    divo.append(card);

                    $(".resulto").append(divo);

                }
            }

        })
        $(".clearo").css("visibility", "visible");
    })

    $(document).on("click", ".clearo", function () {
        // $("#search").val('');
        // $(".clearo").css("visibility", "hidden");
        location.reload();
    })
</script>