<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="/dist/semantic.min.css">
 <!-- <script  type="text/javascript" src="../public/js/reviewForm.js"></script>--> 
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
 
</body>
