<div class="container">
    {{> header}}
    <h2>Books</h2>
    <div class="row">
        {{#each data}}
        {{> cards}}
        {{/each}}
    </div>

    {{> cardmodal}}
</div>


<script src="/js/cardmodal.js"></script>