<div class="container">
    {{> header}}
    {{> searchbar}}
    <h2 category="book" class="cat">Books</h2>
    <div class="row resulto">
        {{#each data}}
        {{> cards}}
        {{/each}}
    </div>

    {{> cardmodal}}
</div>


<script src="/js/cardmodal.js"></script>