<div class="container-fluid">
    {{> header}}
    <div class="row">
        <label>Category (dropdown)</label><input type="text" />
        <label>Title</label><input type="text" />
        <label>Score</label><input type="text" />
        <label>Review Text</label><input type="text" />
        <label>User</label><input type="text" />
    </div>
</div>

<script src="/js/form.js"></script>