{{> header}}

<div id="modal1" class="modal">
    <div class="modal-content">
        <h3>Review</h3>
        <div id="modalContent"></div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Post</a>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <select>
            <option value="" disable selected>Categories</option>
            <option value="movie">Movies</option>
            <option value="book">Books</option>
            <option value="game">Games</option>
        </select>
        <label>Pick a Catagory</label>
    </div>
</div>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Title" id="title" type="text" class="validate">
                <label for="title">Title of Work to be Reviewed</label>
            </div>
            <div class="input-field col s6">
                <input id="user" type="text" class="validate">
                <label for="user">Your Name</label>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="headliner" type="text" class="validate">
                <label for="headliner">Please Make a Title for Your Review</label>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <textarea id="review" class="materialize-textarea"></textarea>
                <label for="review">Review</label>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <form action='#'>
            <p>
                <label>
                    <input class="with-gap" name="group1" type="radio" data-value="1">
                    <span for="group1" data-value="1">Worst</span>
                </label>
                <label>
                    <input class="with-gap" name="group1" type="radio" data-value="2">
                    <span for="group1" data-value="2">2</span>
                </label>
                <label>
                    <input class="with-gap" name="group1" type="radio" data-value="3">
                    <span for="group1" data-value="3">Ok</span>
                </label>
                <label>
                    <input class="with-gap" name="group1" type="radio" data-value="4">
                    <span for="group1" data-value="4">4</span>
                </label>
                <label>
                    <input class="with-gap" name="group1" type="radio" data-value="5">
                    <span for="group1" data-value="5">Best</span>
                </label>
            </p>
        </form>
    </div>
</div>

<button class="btn waves-effect waves-light" type="submit" name="action" id="submit" href="#modal1">
    <i class="material-icons right">Submit</i>
</button>

<div id="modalDiv"></div>



<script>
    console.log("I'm ready!");

    $(document).ready(function () {
        $('select').formSelect();
        // $('.modal').modal();
    });


    $(document).on("click", "#submit", function () {
        console.log("click");
        /*console.log($("#title").val());
        console.log($("#user").val());
        console.log($("#review").val());
        console.log($("#headliner").val());
        console.log($("select").val()); // Getting the select value here
        console.log($("[name = group1]:checked").attr("data-value")); // Getting the radio button value here*/

        /* var newReview = {
             category: $("select").val().trim(),
             productName: $("#title").val().trim(),
             score: $("[name = group1]:checked").attr("data-value"),
             headline: $("#headliner").val().trim(),
             review: $("#review").val().trim(),
             UserId: 1                 //$("#user").val().trim()
         };
         console.log(newReview);*/


        // Send the POST request.
        /*   $.ajax("/api/reviews", {
               type: "POST",
               data: newReview
           }).then(function () {
               console.log("created new Review");
               // Reload the page to get the updated list
               location.reload();
           });*/
        var title = $("#title").val().trim();
        (console.log("title= " + title));
        var category = $("select").val();
        (console.log("category= " + category));


        switch (category) {
            case "movie":
                movieThis(title);
                break;

            case "book":
                bookThis(title);
                break;

            case "game":
                playThisGame(title);
                break;


            default:
                break;
        }
        function movieThis(title) {
            console.log(title);
            if (title == "") {
                title = "Mr. Nobody"
            }

            var queryURL = "http://www.omdbapi.com/?t=" + title + "&y=&plot=short&apikey=trilogy";

            console.log(queryURL);

            $.ajax({
                url: queryURL,
                method: "GET"
            })
                // After the data comes back from the API
                .then(function (response) {

                    // Storing an array of results in the results variable
                    console.log(response);
                    var image = response.Poster;
                    console.log(image);

                    var newReview = {
                        category: $("select").val().trim(),
                        productName: $("#title").val().trim(),
                        score: $("[name = group1]:checked").attr("data-value"),
                        headline: $("#headliner").val().trim(),
                        review: $("#review").val().trim(),
                        img: image,
                        UserId: 1                 //$("#user").val().trim()
                    }

                    console.log(newReview);

                    var modalContainer = $("<div>");
                    modalContainer.attr("class", "modal-content");

                    var modalImage = $("<img>");
                    modalImage.attr("src", newReview.img);

                    var reviewTitle = $("<h4>");
                    reviewTitle.text(newReview.headline);

                    var reviewBody = $("<p>");
                    reviewBody.text(newReview.review);

                    modalContainer.append(modalImage);
                    modalContainer.append(reviewTitle);
                    modalContainer.append(reviewBody);

                    $("#modalContent").append(modalContainer);

                    $('.modal').modal();
                    $('.modal').modal('open');



                    /*   $.ajax("/api/reviews", {
                           type: "POST",
                           data: newReview
                       }).then(function () {
                           console.log("created new Review");
                           // Reload the page to get the updated list
                           location.reload();
                       }); */
                });
        };

        function bookThis(title) {
            console.log(title);
            if (title == "") {
                title = "Nan and her Red Hen"
            }
            var queryURL = "https://www.googleapis.com/books/v1/volumes?q=" + title;

            console.log(queryURL);

            $.ajax({
                url: queryURL,
                method: "GET"
            })
                // After the data comes back from the API
                .then(function (response) {

                    // Storing an array of results in the results variable
                    // console.log(response);
                    var image = response.items[0].volumeInfo.imageLinks.thumbnail;
                    console.log(image)

                    var newReview = {
                        category: $("select").val().trim(),
                        productName: $("#title").val().trim(),
                        score: $("[name = group1]:checked").attr("data-value"),
                        headline: $("#headliner").val().trim(),
                        review: $("#review").val().trim(),
                        img: image,
                        UserId: 1                 //$("#user").val().trim()
                    }
                    console.log(newReview);

                     var modalContainer = $("<div>");
                    modalContainer.attr("class", "modal-content");

                    var modalImage = $("<img>");
                    modalImage.attr("src", newReview.img);

                    var reviewTitle = $("<h4>");
                    reviewTitle.text(newReview.headline);

                    var reviewBody = $("<p>");
                    reviewBody.text(newReview.review);

                    modalContainer.append(modalImage);
                    modalContainer.append(reviewTitle);
                    modalContainer.append(reviewBody);

                    $("#modalContent").append(modalContainer);

                    $('.modal').modal();
                    $('.modal').modal('open');

                  /*  $.ajax("/api/reviews", {
                        type: "POST",
                        data: newReview
                    }).then(function () {
                        console.log("created new Review");
                        // Reload the page to get the updated list
                        location.reload();
                    });*/
                });

        };

        function playThisGame(title) {
            console.log(title);
            if (title == "") {
                title = "pac-man"
            }

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://chicken-coop.p.rapidapi.com/games/%7B" + title + "%7D?platform=pc",
                "method": "GET",
                "headers": {
                    "x-rapidapi-host": "chicken-coop.p.rapidapi.com",
                    "x-rapidapi-key": "53396cf0c5msh92acae5f9a8f37ep11d66cjsn973d6e9f0ec7"
                }
            }

            $.ajax(settings).done(function (response) {
                // console.log(response);

                var image = response.result.image;
                console.log(image);

                var newReview = {
                    category: $("select").val().trim(),
                    productName: $("#title").val().trim(),
                    score: $("[name = group1]:checked").attr("data-value"),
                    headline: $("#headliner").val().trim(),
                    review: $("#review").val().trim(),
                    img: image,
                    UserId: 1                 //$("#user").val().trim()
                }
                console.log(newReview);

                 var modalContainer = $("<div>");
                    modalContainer.attr("class", "modal-content");

                    var modalImage = $("<img>");
                    modalImage.attr("src", newReview.img);

                    var reviewTitle = $("<h4>");
                    reviewTitle.text(newReview.headline);

                    var reviewBody = $("<p>");
                    reviewBody.text(newReview.review);

                    modalContainer.append(modalImage);
                    modalContainer.append(reviewTitle);
                    modalContainer.append(reviewBody);

                    $("#modalContent").append(modalContainer);

                    $('.modal').modal();
                    $('.modal').modal('open');

              /*  $.ajax("/api/reviews", {
                    type: "POST",
                    data: newReview
                }).then(function () {
                    console.log("created new Review");
                    // Reload the page to get the updated list
                    location.reload();
                });*/
            });

        };

        
    });
</script>