<div class="container-fluid">
    {{> header}}
    <div class="row">

        <div class="ui compact menu">
            <div class="ui simple dropdown item" id="catagories">
                Catagories
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-value="movie">Movies</div>
                    <div class="item" data-value="book">Books</div>
                    <div class="item" data-value="game">Games</div>
                </div>
            </div>
        </div>

        <div class="ui form">
            <div class="inline fields">
                <label for="fruit">Rating:</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="fruit" tabindex="0" class="hidden" value=1>
                        <label>Worst</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="fruit" tabindex="0" class="hidden" value=2>
                        <label></label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="fruit" tabindex="0" class="hidden" value=3>
                        <label></label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="fruit" tabindex="0" class="hidden" value=4>
                        <label></label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="fruit" tabindex="0" class="hidden" value=5>
                        <label>Best</label>
                    </div>
                </div>
            </div>
            <div class="ui form">
                <div class="fields">
                    <div class="field">
                        <label>Title</label>
                        <input type="text" id="title" placeholder="Title of item to be reviewed">
                    </div>
                    <div class="field">
                        <label>Name</label>
                        <input type="text" id="name" placeholder="Name of Reviewer">
                    </div>
                    <div class="field">
                        <label>Review</label>
                        <textarea placeholder="Thank you for your review!" id="review"></textarea>
                    </div>
                </div>
            </div>
            <button class="massive ui button">
                Submit
            </button>
        </div>
    </div>
</div>
<script>
    console.log("I'm ready!");
    $('#catagories')
        .dropdown({
            action: 'activate'
        });


    $('.ui.radio.checkbox')
        .checkbox()
        ;
    $(document).on("click", ".massive.ui.button", function () {
        console.log("click");
        //console.log($("#review").val());
        // console.log($("#catagories").dropdown('get value'));
        //console.log($("[name = fruit]:checked").val());
        var newReview = {
            catagory: $("#catagories").dropdown('get value'),
            title: $("#title").val().trim(),
            rating: $("[name = fruit]:checked")
                .val()
                .replace("", " ")
                .trim(),
            review: $("#review").val().trim(),
            author: $("#name").val().trim()
        };
        console.log(newReview);
        // Send the POST request.
      /*  $.ajax("/api/reviews", {
            type: "POST",
            data: newReview
        }).then(function () {
            console.log("created new Review");
            // Reload the page to get the updated list
            location.reload();
        });*/
    });


</script>