<div class="container-fluid">
    {{> header}}
    <div class="ui link cards">
        {{#each data}}
        <div class="card">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="content">
                <div class="header">{{headline}}</div>
                <div class="description">{{score}}</div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/games.js"></script>