<div class="container-fluid">
    {{> header}}
    <div class="row">
        <div class="col-md-12" id="reviews">Latest reviews here</div>
    </div>

    {{> cardmodal}}
</div>

<script src="/js/cardmodal.js"></script>