{{> header}}
{{> searchbar}}
<div class="container">
    <h2 class="cTitle cat" category="movie">Movies</h2>
    <div class="row resulto">

        {{#each data}}
        {{> cards}}
        {{/each}}
    </div>

    {{> cardmodal}}
</div>

<script src="/js/cardmodal.js"></script>