{{> header}}
<div class="container">
    <h2 class="cTitle">Movies</h2>
    <div class="row">
        {{#each data}}
        {{> cards}}
        {{/each}}
    </div>

    {{> cardmodal}}
</div>

=======
<script src="/js/cardmodal.js"></script>