<form id="signin" name="signin" method="post" action="/signin">
    <label for="username">Username</label>
    <input type="text" name="username" />
    <label for="password">Password</label>
    <input type="text" name="password">
    <input class="btn" type="submit" value="Sign In" />
</form>

<a href="/signup">Not registered yet? Click here to sign up.</a>